<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- Sound Manager Settings -->
    <add key="SoundOn" value="0" />
    <add key="DefaultSound" value="Resources\PowerUp.wav" />
    
    <!--State Phase Information-->
    <add key="LogoFile" value="Resources\DIY4U.txt" />
    <add key="GameOverFile" value="Resources\GameOverLogo.txt" />
    
    
    <!--Map and Room File Information-->
    <add key="WorldMapFile" value="Resources\SampleWorldMap1.txt" />
    <add key="RoomInfoFileKey" value="Resources\WorldRoomInfo.txt" />

    <add key="MaxGameLevel" value="2" />
    <add key="ItemNotAvailableTime" value="4000" />
    
    <!-- Printable Ittem -->
    <!--
    <add key="PlayerIcon" value="■" />
    -->
    <add key="PlayerIcon" value="█" />
    <add key="MonsterIcon" value="X" />
    <add key="GlobinIcon" value="Y" />
    <add key="GoldIcon" value="G" />
    <add key="SilverIcon" value="S" />
    <add key="KeyIcon" value="K" />
    <add key="ChestIcon" value="C" />
    <add key="IronArmourIcon" value="I" />
    <add key="WoodenArmourIcon" value="W" />
    <add key="IronSwordIcon" value="J" />
    <add key="WoodenSwordIcon" value="Q" />
    <add key="HealthPotionIcon" value="Z" />


    <add key="PlayerColor" value="Green" />
    <add key="MonsterColor" value="Green" />
    <add key="GlobinColor" value="Green" />
    <add key="GoldColor" value="Yellow" />
    <add key="SilverColor" value="Gray" />
    <add key="KeyColor" value="Cyan" />
    <add key="ChestColor" value="Magenta" />
    <add key="IronArmourColor" value="Blue" />
    <add key="WoodenArmourColor" value="Blue" />
    <add key="IronSwordColor" value="DarkRed" />
    <add key="WoodenSwordColor" value="DarkRed" />
    <add key="HealthPotionColor" value="DarkGreen" />

    <add key="MaxGameLevel" value="1" />
    <add key="StartWithSword" value="1" />
    <add key="StartWithArmour" value="1" />
    
    <!-- Item Room -->
    <add key="MaxEnemyPerRoom" value="1" />   <!-- Not Used Anymore-->
    <add key="MaxGlobinPerRoom" value="1" />
    <add key="MaxMonsterPerRoom" value="0" />
    <add key="MaxHealthPotionPerRoom" value="8" />
    
    <add key="MaxGoldItemPerRoom" value="2"/>
    <add key="MaxSilverItemPerRoom" value="5"/>

    <!-- Item World-->
    <add key="MaxKeyPerWorld" value="3" />
    <add key="MaxChestPerWorld" value="3" />
    <add key="MaxIronArmourPerWorld" value="14" />
    <add key="MaxWoodenArmourPerWorld" value="0" />
    <add key="MaxIronSwordPerWorld" value="14" />
    <add key="MaxWoodenSwordPerWorld" value="0" />
   
    <!--String Resources-->
    <add key="NumOfMsg" value="55" />
    <add key="Msg1" value="Press Any Key to end the Game." />
    <add key="Msg2" value="Welcome to Monster Quest. Please proceed to the nearest and battle the Monsters." />
    <add key="Msg3" value="You are along the passage way." />
    <add key="Msg4" value="You just choose to quit this Game. Are you sure ?" />
    <add key="Msg5" value="Press Y for YES and N to return to the Game" />
    <add key="Msg6" value="You are moving North." />
    <add key="Msg7" value="You are moving South." />
    <add key="Msg8" value="You are moving East." />
    <add key="Msg9" value="You are moving West." />
    <add key="Msg10" value="You are at the exit of the Monster Quest World. Are you sure you want to leave this lovely place ? Yes or No." />
    <add key="Msg11" value="Welcome back. Please proceed to the nearest room and continue your Monster Quest." />
    <add key="Msg12" value="We are sorry to see you leave. Hope you have a fruitful campaign." />
    <add key="Msg13" value="You are now in Room " />
    <add key="Msg14" value="There the following Key is in your vicinity, do you want to pick it up ? " />
    <add key="Msg15" value="You picked up some Gold Bar." />
    <add key="Msg16" value="You picked up some Silver Coin." />
    <add key="Msg17" value="You picked up Health Potion." />
    <add key="Msg18" value="Halth Potion has Health Life of :  " />
    <add key="Msg19" value="Unfortunately your Health Level is at maximum. The Health Potion was wasted." />
    <add key="Msg20" value="You Health Level is increased by : " />
    <add key="Msg21" value="You found the following item : " />
    <add key="Msg22" value="Do you want to pick it up or leave it?" />
    <add key="Msg23" value="Press Y for to pick the item up, Press N to leave it." />
    <add key="Msg24" value="The following item was added to you inventory : " />
    <add key="Msg25" value="The Monsters are after you. Please move along." />
    <add key="Msg26" value="Do you want to replace your " />
    <add key="Msg27" value="The Armour you found has shield power of " />
    <add key="Msg28" value="The Sword you found has striking power of " />
    <add key="Msg29" value="No. of Gold Bar :" />
    <add key="Msg30" value="No. of Silver   : " />
    <add key="Msg31" value="No. of Potion   : " />
    <add key="Msg32" value="Unfortunate you do not have any keys to open it." />
    <add key="Msg33" value="Press C to Continue." />
    <add key="Msg34" value="Do you want to open the chest with the key?" />
    <add key="Msg35" value="Press Y for to open the Chest. Press N to leave it." />
    <add key="Msg36" value="You have just collected the following item :" />
    <add key="Msg37" value="You found the following item in the Trasure Chest." />
    <add key="Msg38" value="You are in Battle with " />
    <add key="Msg39" value="Press [A] to Attack " />
    <add key="Msg40" value="You tried your best. You just lost the Battle." />
    <add key="Msg41" value="Thank you for participating in Monster Quest." />
    <add key="Msg42" value="Press an key to return to the real world." />
    <add key="Msg43" value="Conrgulation ! You completed your win the World in Monster Quest." />
    <add key="Msg44" value="You eliminated ALL GLobin and Monster in this World" />
    <add key="Msg45" value="You Total Score is : " />
    <add key="Msg46" value="Well Done ! You are the winner in this Battle." />
    <add key="Msg47" value="Good that you are exploring the room." />
    <add key="Msg48" value="Attack the Monster and Globin by getting closer to them." />
    <add key="Msg49" value="Move backwar Sir. You cannot cross an Obstacle." />
    <add key="Msg50" value="Your Weapon reached it's limit. Please pick up another weapon." />
    <add key="Msg51" value="You have no Weapon on hand. Please Pick up a weapon." />
    <add key="Msg52" value="You should attack without a weapon !" />
    <add key="Msg53" value="" />
    <add key="Msg54" value="" />
    <add key="Msg55" value="" />
    <add key="Msg56" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>